<div class="container">
  <p class="h1 ptitros">DÉTAILS SUR LE FILM</p>
  <div class="row">
    <div class="col">
      <img src="https://www.aoudjit.com/projetsdemo/films/assets/{{film.imageURL}}" alt="image du film" class="image_details_film img-thumbnail">
    </div>
    <div class="col-8">
      <ul class="list-group">
        <li class="list-group-item active" aria-current="true"><h1>FILM : {{film.film}}</h1> </li>
        <li class="list-group-item">Acteurs : {{film.acteurs}}</li>
        <li class="list-group-item">Durée : {{film.duree}}</li>
        <li class="list-group-item">{{film.annee}}</li>
        <li class="list-group-item">Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, eaque quas quaerat voluptate cumque optio nostrum ratione, pariatur ex repellendus architecto corporis accusamus quidem asperiores debitis modi unde libero ea voluptatum! Hic laudantium possimus ducimus! Consequuntur, alias architecto? Dolorum, porro.</li>
      </ul>
      <img src="https://www.aoudjit.com/projetsdemo/films/assets/player.png" alt="player" class="img-thumbnail img_player mt-3">
      <a routerLink="" class="btn btn-primary btn-lg mt-3 mb-5">RETOUR</a>
    </div>
  </div>
</div>
