<nav class="navbar navbar-expand navbar-dark bg-dark d-flex flex-wrap justify-content-center align-items-center">
  <div class="container-fluid ms-5 me-5 d-flex flex-wrap justify-content-around">
    <a class="navbar-brand ms-4" href="#"><img src="https://www.aoudjit.com/projetsdemo/films/assets/nav_icon.png" alt="icon de la nav bar" class="navbar-brand"></a>
    <div class="d-flex flex-wrap justify-content-center">
      <a routerLink="" class="btn btn-outline-primary mt-2">FILMS</a>
      <a routerLink="addfilm" class="btn btn-outline-warning ms-2 mt-2">AJOUTER UN FILM</a>
      <a routerLink="apropos" class="btn btn-outline-danger ms-2 mt-2">A PROPOS</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
