.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
.img404{width: 200px; width: 200px;}
h1,h2, h4 {color: white; margin-bottom: 20px;}
