<div class="container">
  <h1>DÉTAILS SUR LE PROJET</h1>
  <p class="h3">Projet web SPA réalisé avec :</p>
  <div class="row">
    <div class="col">
      <img src="https://www.aoudjit.com/projetsdemo/films/assets/angular_node.jpg" alt="image node js et angular" class="img_apropos">
    </div>
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item active" aria-current="true"><i class="bi bi-star-fill me-2"></i>FRONTEND</li>
        <li class="list-group-item">ANGULAR</li>
        <li class="list-group-item">BOOTSTRAP</li>
        <li class="list-group-item">BOOTSTRAP-ICONS</li>
      </ul>
      <ul class="list-group mt-3">
        <li class="list-group-item active" aria-current="true"><i class="bi bi-star-fill me-2"></i>BACKEND</li>
        <li class="list-group-item">NODE JS</li>
      </ul>

      <ul class="list-group mt-3">
        <li class="list-group-item active" aria-current="true"><i class="bi bi-star-fill me-2"></i>BASE DE DONNÉES</li>
        <li class="list-group-item">MYSQL</li>
      </ul>
    </div>
  </div>
</div>
